#shirt{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 0px; 
    background-position: -13px;
}

#hoodie{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
    background-position: 0px;
}

#cap{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
    background-position: -2px;
}